body {
    margin: 0;
  }

header {
    height: 50px;
    width: 100%;
    padding: 15px;
    background-color: olive;
}

main {
    height: 420px;
    width: 100%;
    background-color: white;
}

footer {
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 5px;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar navbar-expand-lg navbar-light bg-light {
    display: inline-block;
    padding: 5px 15px;
}

.navbar navbar-expand-lg navbar-light bg-light a {
    color: black;
    text-decoration: none;
}

.navbar navbar-expand-lg navbar-light bg-light a:hover {
    background-color: white;
    color: black;
}

.ulNavTop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    overflow: hidden;  
    background-color: olive;
    border: black;
    text-align: center;
}

.mainBody {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-gap: 10px;
    height: auto;
}

.imgClass {
    border: black 10px;
    padding: 2px;
}

.img2 {
    border: black 10px;
    padding: 2px;
}

.ulNavFooter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    overflow: hidden; 
    background-color: olive;
    text-align: center;
    border: black 3px;
}

.liNavFooter {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}

.liNavFooter a {
    color: black;
    text-decoration: none;
}

.liNavFooter a:hover {
    background-color: white;
    color: black;
}

